* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: slategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: 16px;
}

.main-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.resistor {
    display: flex;
    align-items: center;
    transition: 1s ease-in-out;
    margin: 2em 0;
    font-size: 25px;
}

.wire {
    width: 3em;
    height: 0.25em;
    background-color: silver;
}

.lobe {
    height: 3.5em;
    width: 2.5em;
    background-color: whitesmoke;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    display: flex;
}

.left {
    border-radius: 40% 0.4em 0.4em 40%;
}

.right {
    border-radius: 0.4em 40% 40% 0.4em;
}

.mid {
    display: flex;
    width: 5em;
    height: 2.7em;
    z-index: 1;
    background-color: whitesmoke;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.color {
    border-left: 1px solid rgb(160, 160, 255);
    border-right: 1px solid rgb(160, 160, 255);
    height: 100%;
    margin: auto;
    width: 0.4em;
}

.hide {
    visibility: hidden;
}

.display {
    letter-spacing: 1px;
    align-self: flex-start;
    font-size: 1.3em;
    font-weight: 600;
    color: mintcream;
    text-shadow: 1px 1px 12px rgb(0, 0, 0, 0.5);
}

.result {
    color: honeydew;
    border-bottom: 1px solid white;
    transition: all 0.3s ease-in-out;
}

.colorPallete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 0.6em;
    margin: 1em 0;
    padding: 0.5em;

}

.button {
    color: black;
    width: 4em;
    height: 4em;
    margin: 0.6em;
    text-align: center;
    border-radius: 50%;
    border: 0.3em solid lightslategray;
    font-size: 1.2em;
    cursor: pointer;
}